{% extends 'board/base_detail.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block main_area %}
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>

        <!-- Author -->
        <p class="lead">
            글쓴이:
            <a href="#">{{ post.author }}</a>
        </p>
        <hr>

        <!-- Date/Time -->
        <small class="text-muted">{{ post.created_at }}</small>
        {% if post.created_at != post.updated_at %}
            <br/>
            <small class="text-muted">글 수정됨: {{ post.updated_at }}</small>
        {% endif %}
        <hr>

        <!-- Preview Image -->
        {% if post.head_image %}
            <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="">
            <hr>
        {% endif %}

        <!-- Post Content -->
        <p>{{ post.content | linebreaksbr }}</p>
        <hr>

        {% if user.is_authenticated and user == post.author %}
            <a role="button" class="btn btn-sm btn-info" href="/board/update_post/{{ post.pk }}">글 수정 하기</a>
        {% endif %}


        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">댓글 작성:</h5>
            <div class="card-body">
                <form method="POST" action="{{ post.get_absolute_url }}/add_comment/"> {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary">확인</button>
                </form>
            </div>
        </div>

        <!-- Single Comment -->
        {% if post.comment_set.exists %}
            {% for comment in post.comment_set.iterator %}
                <div class="media mb-4" id="comment-{{ comment.pk }}">
                    <img class="d-flex mr-3 rounded-circle" src="{% static 'board/images/img.png' %}" alt=""
                         style="width: 50px; height: 50px;">
                    <div class="media-body">
                        {% if user.is_authenticated and comment.author == user %}
                            <a role="button"
                               class="btn btn-sm btn-info float-right"
                               id="comment-{{ comment.pk }}-update-btn"
                               href="/board/update_comment/{{ comment.pk }}/">
                                수정
                            </a>
                        {% endif %}
                        <h5 class="mt-0">
                            {{ comment.author }}
                            &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                        </h5>
                        <p>{{ comment.content | linebreaks }}</p>
                        {% if comment.created_at != comment.modified_at %}
                            <p class="text-muted float-right"><small>수정됨: {{ comment.modified_at }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}