<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <style>
        .title-style {
            text-decoration-thickness: 5px;
            color: black;
            text-decoration-line: none;
        }
    </style>
</head>
<body>
<nav>
    <a href="/">
        홈으로
    </a>
</nav>
{% if category %}
    <h1>{{ category }} 게시판</h1>
{% else %}
    <h1>게시판 페이지</h1>
{% endif %}
{% for post in post_list %}
    <hr/>
    <h2><a href="{{ post.get_absolute_url }}" class="title-style">
        {{ post.title }} - {{ post.created_at }}</a></h2>
{% endfor %}
</body>
</html>