{% extends 'search/base.html' %}
{% load crispy_forms_tags %}

{% block main_area %}
    <h1>유저 검색</h1>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form method="GET" name="search_form" action="/search/result/">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="유저 이름" name="search_text">
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit">
                              검색</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr/>
    <table class="table table-striped">
            <tbody>
            <tr>
                <td>닉네임</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>레벨</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>최고 등급</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
{% endblock %}